@import "components.css";
@import "layout.css";
@import "media.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

:root {
  scroll-behavior: smooth;
  --main-text-font: "Roboto Mono", monospace;
  --main-text-color: rgb(22, 22, 22);
  --secondary-text-color: rgb(72, 72, 72);
  --light-component-color: rgb(228, 255, 255);
  --dark-component-color: rgb(186, 233, 233);
  --accent-text-color: rgb(122, 176, 176);
  --hover-component-color: rgb(113, 183, 183);
}
