@import "base.css";

.jokes-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.favorite-block__jokes {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.joke-card {
  background-color: var(--card-color);
  padding: 1rem;
  border-radius: 1rem;
}

.joke-card button {
  background: none;
  border: none;
}

#joke-id {
  color: var(--accent-text-color);
}
