@import "base.css";

.search-block__radio-buttons {
  display: flex;
  flex-direction: column;
}

.search-block button {
  background-color: var(--dark-component-color);
  border: 0;
  border-radius: 1rem;
  padding-inline: 30px;
  padding-block: 10px;
  margin-top: 1rem;
  transition: all 0.2s ease;
}

.search-block button:hover {
  background-color: rgb(141, 198, 198);
}

.search-block input[type="radio"] {
  accent-color: var(--hover-component-color);
  transform: scale(1.2);
  margin-right: 0.5rem;
}
