@import "base.css";

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.left-column {
  flex: 2;
  background-color: var(--light-component-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.right-column {
  flex: 1;
  background-color: var(--dark-component-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.search-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-block__radio-buttons {
  display: flex;
  flex-direction: column;
}

.search-block button {
  background-color: var(--dark-component-color);
  border: 0;
  border-radius: 1rem;
  padding-inline: 30px;
  padding-block: 10px;
  margin-top: 1rem;
  transition: all 0.2s ease;
}

.search-block button:hover {
  background-color: rgb(141, 198, 198);
}

.search-block input[type="radio"] {
  accent-color: var(--hover-component-color);
  transform: scale(1.2);
  margin-right: 0.5rem;
}
